<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
          <div class="col-sm-6">
            <div class="col-sm-2">Inventory</div>
            <div class="col-sm-10">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm-10">
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
    </div>
    <div class="panel-body">

        <div class="row" style="margin-right: 10px;margin-left: 10px;">

              <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                          <tr>
                              <th>Coin</th>
                              <th>Description</th>
                              <th>Stock</th>
                              <th>Add stock</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="x in data track by $index">
                              <td>{{x.coin}}</td>
                              <td>{{x.description}}</td>
                              <td>{{x.totalCount}}</td>
                              <td ng-click="increment($index)">+</td>
                          </tr>
                      </tbody>
                  </table>

              </div>
        </div>
    </div>
  </div>
</div>




<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
          <div class="col-sm-6">
            <div class="col-sm-2">Part(II)&Part(III)</div>
            <div class="col-sm-10">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm-10">
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
    </div>
    <div class="panel-body">

        <div class="row" style="margin-right: 10px;margin-left: 10px;">

              <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                          <tr>
                              <td><input type="number" step="1" min="1" max="" ng-model="part2_input"/></td>
                              <td><input type="submit" name="makeChange2" value="MAKE CHANGE" ng-click="part2_make_change(part2_input)" /></td>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                             <td> Input: </td> <td> {{part2_input}} </td>
                          </tr>
                          <tr>
                             <td> Output: </td> <td><pre> {{part2_output | json}} </pre> </td>
                          </tr>
                      </tbody>
                  </table>

              </div>
        </div>
    </div>
  </div>
</div>



<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
          <div class="col-sm-6">
            <div class="col-sm-2">Part(I)&Part(III)</div>
            <div class="col-sm-10">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm-10">
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
    </div>
    <div class="panel-body">

        <div class="row" style="margin-right: 10px;margin-left: 10px;">

              <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                          <tr>
                              <td><input type="number" step="1" min="1" max="" ng-model="part1_input"/></td>
                              <td><input type="submit" name="makeChange" value="MAKE CHANGE" ng-click="part1_make_change(part1_input)" /></td>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                             <td> Input: </td> <td> {{part1_input}} </td>
                          </tr>
                          <tr>
                             <td> Output: </td> <td><pre> {{part1_output | json}} </pre> </td>
                          </tr>
                      </tbody>
                  </table>

              </div>
        </div>
    </div>
  </div>
</div>
